html, body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

canvas {
  display:flex;
}

h1 {
  font-size: 120px;
  font-family: fantasy;
  font-style: oblique;
  margin-top: 200px;
  text-align: center;
}

h2 {
  font-size: 60px;
  font-family: fantasy;
  font-style: oblique;
  text-align: center;
}

h3 {
  font-size: 60px;
  font-family: fantasy;
  font-style: oblique;
  display: inline;
  margin-top: 15px;
  padding-left: 65px;
  position: absolute;
}

p {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: aliceblue;
}

#playerbuttons {
  display: inline;
}